html{
    font-size: 62.5%;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-size: 1.6rem;
    font-family: "Noto",sans-serif;
    overflow: hidden;
}

.gg-heading{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 11px;
    margin-right: 25px;
    font-size:15px;
    height: 47px;
    font-weight: 500;
    margin-bottom: 130px;
}

.text{
    margin-right: 40px;
    opacity: 0.7;
}

.text span:hover{
    text-decoration: underline;
    cursor: pointer;
}

.text span{
    margin-left:30px;
    display: inline-block;
}

.gg-menu{
    margin-right: 28px;
    font-size:22px;
    color:black;
    opacity: 0.5;
    position: relative;
    cursor: pointer;
}

.gg-menu:after{
    content: "";
    position: absolute;
    width: 47px;
    height: 47px;
    background-color: rgb(204, 204, 204,0.5);
    top:-60%;
    left:-60%;
    opacity: 0;
    visibility: hidden;
    border-radius: 50%;
    z-index: -1;
    transition:all  linear;

}

.gg-menu:hover:after{
  visibility: visible;
  opacity: 1;
}

.gg-button{
    padding:13px 29px;
    border-radius: 4px;
    background-color: #1a73e8;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 16px;
    min-width: 120px;
    font-weight: 200;
    border:0;
}

.gg-button:hover{
    opacity: 0.9;
}


.gg-body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gg-img{
    width: 310px;
    min-height: 97px;
    display: flex;
    object-fit: cover;
    align-items: center;
    justify-content: center;

    margin-bottom: 30px;
}

.gg-search{
    width: 100%;
    display: flex;
    max-width: 600px;
    align-items: center;
    justify-content: center;
    padding:15px;
    min-height: 42px;
    outline: none;
    border: 1.5px solid #ebecef;
    border-radius: 30px;
    margin-bottom: 27px;
}

.gg-input{
    flex: 1;
    outline: none;
    border: 0;
    padding-left: 20px;
    font-size: 17px;
}

.gg-search:hover{
    box-shadow: 2px 1px 9px 0px rgba(0, 0, 0,0.2);
}

.icon-right{
    margin-left: auto;
}

.icon-right i:first-child{
    margin-right: 25px;
}


.gg-body-btn{
    margin-bottom: 30px;
}

.gg-body-button-1,
.gg-body-button-2
{
    padding:11px 17px;
    border-radius: 3px;
    font-size: 16px;
    background-color: #f8f9fa;
    border: 0;
    transition:all linear;
}

.gg-body-button-1:hover,
.gg-body-button-2:hover
{
    border: 0.5px solid rgba(204, 204, 204,0.4);;
   
    cursor: pointer;
    box-shadow: 1px 1px 0 0 rgba(204, 204, 204,0.4);
}

.gg-body-button-1{
    margin-right:12px;
}

.gg-search i{
    cursor: pointer;
}

.gg-notification{
    text-decoration: none;
    color:rgb(125,137,225);
    font-size: 15px;

    display: block;
}

.text-foot{
    height: 275px;
    text-align: center;
}

.language{
    font-size: 15px;
    margin-top: 40px;
}

.language li{
    display: inline-block;
}

.language li a{
    text-decoration: none;
    margin-right: 15px;
    font-size: 15px;
    color:rgb(125,137,225);
}

.language li:hover a,
.gg-notification:hover{
    text-decoration: underline;
}


.gg-footer{
    background-color: #f2f2f2;
}

.gg-vn{
    height: 47px;
    padding: 17px 31px;
    opacity: 0.5;
    font-size: 18px;
}

hr{
    opacity: 0.3;
}

.gg-footer-a{
    display: flex;
    font-size: 16px;
    align-items: center;
    padding: 17px 31px 15px;
    height: 50px;
}

.gg-footer-a > .footer-left > li,
.gg-footer-a > .footer-right >li
{
    display: inline-block;
}

.footer-right{
    margin-left:auto;
}

.gg-footer-a .footer-left>li>a, .gg-footer-a .footer-right>li>a{
    text-decoration: none;
    color: rgb(128,127,143);
    margin-bottom: 15px;
}

.footer-left > li >a{
    margin-right:30px;
}

.footer-right > li >a{
    margin-left: 30px;
}

.gg-footer-a li:hover a{
    text-decoration: underline;
}